* {
  margin: 0px;
  padding: 0px;
}
.bor1 {
  border: 2px solid black;
}
.bg-blue1 {
  background-image: linear-gradient(#0d6dfd94, rgba(0, 0, 0, 0.208));
}
.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#0d6dfd6b, rgba(0, 0, 0, 0.642)),
    url(Images/bg-img.1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.bg-col {
  position: relative;
  width: 100%;
  height: 775px;
}
.btn1 {
  height: 50px;
  width: 125px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-outline-light1 {
  color: #000;
  background-color: white;
  border-color: #f8f9fa;
}
.btn-outline-light1:hover {
  color: white;
  background-color: black;
  border-color: black;
}
.btn2 {
  color: white;
  height: 50px;
  width: 125px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.positioncont {
  display: grid;
  grid-template-columns: auto auto auto;
}
.fosi1 {
  font-size: 60px;
}
.fosi2 {
  font-size: 24px;
}
.slide-container {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  padding-top: 50px;
}
.slide-image {
  animation: scroll 10s infinite;
  transition: transform 1s;
}
@keyframes scroll {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(1250px));
  }
}
.cards {
  width: 30vw;
  height: 60vh;
}
.card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.381));
}
.card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.381)),
    url(Images/card-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.381)),
    url(Images/card-images-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.w-2 {
  width: 30%;
  height: 70vh;
}
.mt-6 {
  margin-top: 150px;
}
.conta {
  margin: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cont-2 {
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 255, 0.523);
  width: 5vw;
}
.bg-col-2 {
  background-color: rgba(0, 0, 0, 0.038);
}
.cards-1 {
  width: 15vw;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bg-img1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(Images/bg-image-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container3 {
  width: 100%;
}
.mt-7 {
  margin-top: 20px;
  margin-left: 45px;
}
.h-2 {
  height: 70vh;
}
.disp {
  display: flex;
  flex-wrap: wrap;
}
.img-div {
  position: relative;
  width: 21vw;
}
.card-img-top1 {
  width: 30%;
}
.bor-der {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
a:hover {
  color: blue;
}
.cont-1 {
  display: flex;
  flex-wrap: wrap;
}
.cont-3 {
  width: 30vw;
}
.cont-4 {
  width: 18vw;
}
.btn-outline-primary-1 {
  border-color: #0d6efd;
  background-color: #0d6efd;
}
.btn-outline-primary-1:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6dfd67;
}
.cont-5 {
  width: 30vh;
}
.cont-dis {
  display: flex;
  flex-wrap: wrap;
}
.w-1 {
  width: 50%;
}
.txt-ed {
  text-align: end;
}
.fa-user-1 {
  color: white;
  position: relative;
  top: 9px;
}
.bor {
  height: 50vh;
}
.bg-img-1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.651)),
    url(Images/account.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.pos {
  display: flex;
  justify-content: center;
  position: relative;
  top: 90px;
}
.f-s {
  font-size: 65px;
}
.fa-user-2 {
  color: rgba(0, 0, 0, 0.715);
  position: relative;
  top: 9px;
}
.hei-1 {
  height: 30vh;
}
.wid {
  width: 43%;
  height: 20%;
}
.bg-col-1 {
  position: relative;
  width: 100%;
  height: 70vh;
}
.bg-pos {
  margin: auto;
  width: 30vw;
  height: 70vh;
}
.bg-img-2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.651)),
    url(Images/About-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.wiim {
  height: 100%;
  width: 100%;
}
.dp {
  display: flex;
  flex-wrap: wrap;
}
.txt-img {
  width: 50%;
}
.cont-6 {
  border-top: 5px solid rgba(0, 0, 255, 0.523);
  width: 5vw;
}
.cont-7 {
  border-top: 5px solid rgba(0, 0, 255, 0.523);
  width: 5vw;
  margin: auto;
}
.cont-8 {
  margin: auto;
  width: 15vw;
}
.f-s1 {
  font-size: 50px;
}
.cont-9 {
  text-align: center;
  width: 50vw;
  margin: auto;
}
.container-1 {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60vw;
}
.card-4 {
  margin: auto;
  height: 90px;
  width: 90px;
}
.cards-1 {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.035);
  width: 250px;
}
.text-3 {
  margin: auto;
}
.text-4 {
  width: 113px;
  margin: auto;
}
.text-5 {
  width: 40px;
  margin: auto;
}
.text-6 {
  margin: auto;
  width: 125px;
}
.bg-img-3 {
  position: relative;
  width: 100%;
  height: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.651)),
    url(Images/About-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.txt-cen {
  position: relative;
  top: 175px;
}
.txt-cen1 {
  position: relative;
  top: 150px;
}
.txt-po {
  border: 2px sold black;
  margin-right: 50px;
}
.logo {
  position: relative;
  top: 200px;
  text-align: center;
}
.bg-img-3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.651)),
    url(Images/contact-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.cont-11 {
  border-bottom: 2px solid black;
  margin: auto;
  width: 5vw;
}
.boxes {
  height: 30vh;
  width: 15vw;
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.105);
}
.bg-color {
  background-color: rgba(0, 0, 0, 0.02);
}
.disbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.in-put {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 90%;
  height: 50px;
}
.in-put-1 {
  margin-bottom: 0px 10px;
  margin-left: 20px;
  width: 90%;
  height: 175px;
}
.cont-dis {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
}
.wid-box {
  width: 50%;
}
.container-3 {
  margin: auto;
  width: 40vw;
  box-shadow: 7px 7px 12px 7px rgba(0, 0, 0, 0.105);
}
.fs-6 {
  padding: 10px 15px;
  margin-left: 20px;
}
.b-g-c-o {
  background-color: white;
}
.wid-dnk {
  width: 175px;
}
.wid-dnk-1 {
  width: 100%;
}
.container-4 {
  width: 20vw;
}
.btn-outline-primary-2 {
  border-color: #0d6efd;
  background-color: #0d6efd;
}
.btn-outline-primary-2:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6dfd67;
}
.btn-2 {
  height: 30px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.mar-right {
  margin-right: 10px;
}
.wid-div{
  width: 70%;
}
.dlfex{
  display: flex;
  flex-wrap: wrap;
}
.btn-outline-primary-3 {
  border-color: #0d6efd;
  background-color: #0d6efd;
}
.btn-outline-primary-3:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6dfd67;
}
.btn-3 {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 25px;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.range {
  width: 90%;
}
.tet-ed{
  text-align: center;
}
.img {
  width: 100%;
}
.boes-1 {
  height: 80px;
  width: 90px;
}
.container-5 {
  width: 70vw;
}
.fs-s {
  font-size: 16px;
}
.m-6{
  margin-left: 50px;
}
.fs-s1 {
  font-size: 19px;
}
.box-shad {
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.098);
}
.box-shad1 {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.098);
}
.fs-s2 {
  font-size: 55px;
}
.container-6 {
  margin: auto;
  width: 63vw;
}
.container-7 {
  margin: auto;
  width: 70vw;
}
.mr-5 {
  margin-left: 835px;
}
.image {
  height: 100%;
  width: 50%;
}
.image-1 {
  height: 100%;
  width: 50%;
}
.bor-1 {
  width: 90px;
  border-top: 2px solid black;
  border-right: 2px dotted black;
}
.bg-danger-1 {
  background-color: rgba(0, 0, 0, 0.078) !important;
}
.Container-2 {
  width: 45vh;
  margin:auto;
}
.Container {
  width: 20%;
  margin: auto;
  padding: 10px;
}
.dip {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.Container{
  width: 20%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.check {
  position: relative;
  top: 10px;
  right: 130px;
}
.box {
  position: relative;
  bottom: 10px;
}
.bttn {
  position: relative;
  bottom: 10px;
}
.chk {
  border: 1px solid rgba(0, 0, 0, 0.475);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.contaer-flud{
  display: flex;
  flex-wrap: wrap-reverse;
}
.dflex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.div-wid{
  width: 50%;
  height: 100%;
}
.div-dis{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container-8{
  margin: auto;
  width: 85vw;
}